/* General styling for the entire application */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 80px;
}

.center-text {
  flex-grow: 1; 
  text-align: center;
}

.App-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #0c75b3;
  color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.App-header img {
  position: absolute; /* Allows the logo to be positioned absolutely relative to its positioned parent */
  left: 20px; /* Or adjust according to your layout */
  height: 80px;
}

.login-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.App-footer {
  width: 100%;
  padding: 20px 10px;
  background-color: #0c75b3; 
  color: white;
  text-align: center;
  border-top: 1px solid #444;
  position: fixed;
  bottom: 0;                 
  left: 0;
  z-index: 1000;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #21a1f1;
  transform: scale(1.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.hidden {
  display: none;
}

.admin-page {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

.motivation-select {
  width: 300px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  cursor: pointer;
  appearance: none;
  background-color: white;
  position: relative;
}

.motivation-select:hover {
  background-color: #f0f0f0;
}

.motivation-select:focus {
  border-color: #007BFF;
  outline: none;
}

.motivation-detail {
  max-width: 600px;
  width: 90%; /* Responsive width */
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px auto;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.motivation-detail h3 {
  margin-top: 0;
  color: #0c75b3;
}

.motivation-detail p {
  font-size: 16px;
  color: #666;
}

.button-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.admin-button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.admin-button:hover {
  background-color: #21a1f1;
  transform: scale(1.1);
}

.fund-manager-form {
  text-align: left;
  margin: 20px auto;
  width: 60%;
}

.fund-manager-form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.fund-manager-form button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.fund-manager-form button:hover {
  background-color: #21a1f1;
  transform: scale(1.1);
}

.profile-details {
  margin: 100px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.profile-details p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.profile-centered {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  height: calc(100vh - 160px); /* Adjust height considering header and footer */
  width: 100%;
}

.profile-details p:first-child {
  font-weight: bold;
  font-size: 20px;
}

.profile-details p.blocked {
  color: #b30000;
  font-size: 18px;
  font-weight: bold;
}

.create-fund-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 90%; /* Responsive width */
  max-width: 500px; /* Maximum width */
}

.create-fund-form label {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}

.create-fund-form input,
.create-fund-form select,
.create-fund-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-fund-form button {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .create-fund-form {
    margin-top: 80px;
    width: 80%;
  }
}
